<a href="https://colab.research.google.com/github/Shereen74/graduation_project/blob/main/Preprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Importing Libraries

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Reading data from files

In [ ]:
%cd /content/drive/MyDrive/GP

/content/drive/MyDrive/GP

In [ ]:
!pwd

/content/drive/MyDrive/GP

In [ ]:
weather_data = pd.read_csv('./ashrae-energy-prediction/weather_train.csv')
building_data = pd.read_csv('./ashrae-energy-prediction/building_metadata.csv')

In [ ]:
counter = 0
batch_size = 1000000
train_data = []
for chunk in pd.read_csv('./ashrae-energy-prediction/train.csv', chunksize=batch_size):

    train_data.append(chunk)
    counter += 1

train_data

In [ ]:
Train_Data = pd.concat(train_data)
Train_Data.shape

(20216100, 4)

In [ ]:
Train_Data.tail()

          building_id  meter            timestamp  meter_reading
20216095         1444      0  2016-12-31 23:00:00          8.750
20216096         1445      0  2016-12-31 23:00:00          4.825
20216097         1446      0  2016-12-31 23:00:00          0.000
20216098         1447      0  2016-12-31 23:00:00        159.575
20216099         1448      0  2016-12-31 23:00:00          2.850

In [ ]:
weather_data.tail()

,site_id,timestamp,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed
139768,15,2016-12-31 19:00:00,3.0,NaN,-8.0,NaN,NaN,180.0,5.7
139769,15,2016-12-31 20:00:00,2.8,2.0,-8.9,NaN,1007.4,180.0,7.7
139770,15,2016-12-31 21:00:00,2.8,NaN,-7.2,NaN,1007.5,180.0,5.1
139771,15,2016-12-31 22:00:00,2.2,NaN,-6.7,NaN,1008.0,170.0,4.6
139772,15,2016-12-31 23:00:00,1.7,NaN,-5.6,-1.0,1008.5,180.0,8.8

# Merging files

In [ ]:
#Merging train data
train = Train_Data.merge(building_data, on='building_id', how='left')
train = train.merge(weather_data, on=['site_id', 'timestamp'], how='left')
train.tail(25)

,building_id,meter,timestamp,meter_reading,site_id,primary_use,square_feet,year_built,floor_count,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed
20216075,1431,0,2016-12-31 23:00:00,87.9500,15,Public services,111360,2000.0,NaN,1.7,NaN,-5.6,-1.0,1008.5,180.0,8.8
20216076,1431,2,2016-12-31 23:00:00,426.3400,15,Public services,111360,2000.0,NaN,1.7,NaN,-5.6,-1.0,1008.5,180.0,8.8
20216077,1432,0,2016-12-31 23:00:00,403.4500,15,Education,160673,1968.0,NaN,1.7,NaN,-5.6,-1.0,1008.5,180.0,8.8
20216078,1433,0,2016-12-31 23:00:00,41.3500,15,Education,28084,1913.0,NaN,1.7,NaN,-5.6,-1.0,1008.5,180.0,8.8
20216079,1433,2,2016-12-31 23:00:00,3173.8800,15,Education,28084,1913.0,NaN,1.7,NaN,-5.6,-1.0,1008.5,180.0,8.8
20216080,1434,0,2016-12-31 23:00:00,70.7250,15,Education,33148,1967.0,NaN,1.7,NaN,-5.6,-1.0,1008.5,180.0,8.8
20216081,1434,2,2016-12-31 23:00:00,259.0730,15,Education,33148,1967.0,NaN,1.7,NaN,-5.6,-1.0,1008.5,180.0,8.8
20216082,1435,0,2016-12-31 23:00:00,4.7250,15,Education,9552,1961.0,NaN,1.7,NaN,-5.6,-1.0,1008.5,180.0,8.8
20216083,1436,0,2016-12-31 23:00:00,11.6000,15,Manufacturing/industrial,11302,1937.0,NaN,1.7,NaN,-5.6,-1.0,1008.5,180.0,8.8
20216084,1436,2,2016-12-31 23:00:00,1274.6600,15,Manufacturing/industrial,11302,1937.0,NaN,1.7,NaN,-5.6,-1.0,1008.5,180.0,8.8
20216085,1437,0,2016-12-31 23:00:00,195.9250,15,Education,111518,1968.0,NaN,1.7,NaN,-5.6,-1.0,1008.5,180.0,8.8
20216086,1437,2,2016-12-31 23:00:00,1518.9200,15,Education,111518,1968.0,NaN,1.7,NaN,-5.6,-1.0,1008.5,180.0,8.8
20216087,1438,0,2016-12-31 23:00:00,100.6750,15,Education,108971,1990.0,NaN,1.7,NaN,-5.6,-1.0,1008.5,180.0,8.8
20216088,1438,2,2016-12-31 23:00:00,852.7700,15,Education,108971,1990.0,NaN,1.7,NaN,-5.6,-1.0,1008.5,180.0,8.8
20216089,1439,0,2016-12-31 23:00:00,167.4000,15,Education,56497,1957.0,NaN,1.7,NaN,-5.6,-1.0,1008.5,180.0,8.8
20216090,1440,0,2016-12-31 23:00:00,154.7500,15,Lodging/residential,150294,1987.0,NaN,1.7,NaN,-5.6,-1.0,1008.5,180.0,8.8
20216091,1441,0,2016-12-31 23:00:00,242.9250,15,Education,30143,1951.0,NaN,1.7,NaN,-5.6,-1.0,1008.5,180.0,8.8
20216092,1442,0,2016-12-31 23:00:00,59.4000,15,Public services,99541,1993.0,NaN,1.7,NaN,-5.6,-1.0,1008.5,180.0,8.8
20216093,1442,2,2016-12-31 23:00:00,55.6241,15,Public services,99541,1993.0,NaN,1.7,NaN,-5.6,-1.0,1008.5,180.0,8.8
20216094,1443,0,2016-12-31 23:00:00,64.9500,15,Education,40311,1913.0,NaN,1.7,NaN,-5.6,-1.0,1008.5,180.0,8.8
20216095,1444,0,2016-12-31 23:00:00,8.7500,15,Entertainment/public assembly,19619,1914.0,NaN,1.7,NaN,-5.6,-1.0,1008.5,180.0,8.8
20216096,1445,0,2016-12-31 23:00:00,4.8250,15,Education,4298,NaN,NaN,1.7,NaN,-5.6,-1.0,1008.5,180.0,8.8
20216097,1446,0,2016-12-31 23:00:00,0.0000,15,Entertainment/public assembly,11265,1997.0,NaN,1.7,NaN,-5.6,-1.0,1008.5,180.0,8.8
20216098,1447,0,2016-12-31 23:00:00,159.5750,15,Lodging/residential,29775,2001.0,NaN,1.7,NaN,-5.6,-1.0,1008.5,180.0,8.8
20216099,1448,0,2016-12-31 23:00:00,2.8500,15,Office,92271,2001.0,NaN,1.7,NaN,-5.6,-1.0,1008.5,180.0,8.8

# Data Correction

In [ ]:
#Data correction for site 0, electric meter type which is 0
mask = (train['site_id'] == 0) & (train['meter'] == 0)

# Update the values in the "meter_reading" column for the selected rows
train.loc[mask, 'meter_reading'] *= 0.2931

In [ ]:
train.describe()

,building_id,meter,meter_reading,site_id,square_feet,year_built,floor_count,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed
count,2.021610e+07,2.021610e+07,2.021610e+07,2.021610e+07,2.021610e+07,8.088455e+06,3.506933e+06,2.011944e+07,1.139074e+07,2.011596e+07,1.646708e+07,1.898443e+07,1.876705e+07,2.007242e+07
mean,7.992780e+02,6.624412e-01,2.109925e+03,7.992232e+00,1.077830e+05,1.968277e+03,4.184848e+00,1.598795e+01,1.900423e+00,7.747429e+00,7.964155e-01,1.016085e+03,1.730151e+02,3.377525e+00
std,4.269133e+02,9.309921e-01,1.532357e+05,5.099060e+00,1.171424e+05,3.020815e+01,4.008277e+00,1.094729e+01,2.402909e+00,1.017867e+01,7.468997e+00,7.060539e+00,1.140574e+02,2.265694e+00
min,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,2.830000e+02,1.900000e+03,1.000000e+00,-2.890000e+01,0.000000e+00,-3.500000e+01,-1.000000e+00,9.682000e+02,0.000000e+00,0.000000e+00
25%,3.930000e+02,0.000000e+00,1.797590e+01,3.000000e+00,3.252700e+04,1.951000e+03,1.000000e+00,8.600000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.011600e+03,7.000000e+01,2.100000e+00
50%,8.950000e+02,0.000000e+00,7.509000e+01,9.000000e+00,7.270900e+04,1.969000e+03,3.000000e+00,1.670000e+01,0.000000e+00,8.900000e+00,0.000000e+00,1.016000e+03,1.800000e+02,3.100000e+00
75%,1.179000e+03,1.000000e+00,2.526000e+02,1.300000e+01,1.391130e+05,1.993000e+03,6.000000e+00,2.410000e+01,4.000000e+00,1.610000e+01,0.000000e+00,1.020500e+03,2.800000e+02,4.600000e+00
max,1.448000e+03,3.000000e+00,2.190470e+07,1.500000e+01,8.750000e+05,2.017000e+03,2.600000e+01,4.720000e+01,9.000000e+00,2.610000e+01,3.430000e+02,1.045500e+03,3.600000e+02,1.900000e+01

# Decrease Null Values

In [ ]:
100 * (train.isnull().sum() / len(train))

building_id            0.000000
meter                  0.000000
timestamp              0.000000
meter_reading          0.000000
site_id                0.000000
primary_use            0.000000
square_feet            0.000000
year_built            59.990033
floor_count           82.652772
air_temperature        0.478124
cloud_coverage        43.655131
dew_temperature        0.495348
precip_depth_1_hr     18.544739
sea_level_pressure     6.092515
wind_direction         7.167792
wind_speed             0.710701
dtype: float64

In [ ]:
# Removing columns that has more than 50% null values (except wind_direction)
# Dropping unused columns decreases null values
train = train.drop(columns=['year_built', 'floor_count', 'wind_direction'])

# Adding IsHoliday feature

In [ ]:
#https://www.kaggle.com/c/ashrae-energy-prediction/discussion/115256
import holidays

en_holidays = holidays.UnitedKingdom(prov='ENG')#holidays list of  England
ir_holidays = holidays.Ireland()# holidays list of Ireland
ca_holidays = holidays.Canada()#holidays list of Canada
us_holidays = holidays.UnitedStates()# holidays list of US

en_idx = train.query('site_id == 1 or site_id == 5').index
ir_idx = train.query('site_id == 12').index
ca_idx = train.query('site_id == 7 or site_id == 11').index
us_idx = train.query('site_id == 0 or site_id == 2 or site_id == 3 or site_id == 4 or site_id == 6 or site_id == 8 or site_id == 9 or site_id == 10 or site_id == 13 or site_id == 14 or site_id == 15').index

train['IsHoliday'] = 0
train.loc[en_idx, 'IsHoliday'] = train.loc[en_idx, 'timestamp'].apply(lambda x: en_holidays.get(x, default=0))
train.loc[ir_idx, 'IsHoliday'] = train.loc[ir_idx, 'timestamp'].apply(lambda x: ir_holidays.get(x, default=0))
train.loc[ca_idx, 'IsHoliday'] = train.loc[ca_idx, 'timestamp'].apply(lambda x: ca_holidays.get(x, default=0))
train.loc[us_idx, 'IsHoliday'] = train.loc[us_idx, 'timestamp'].apply(lambda x: us_holidays.get(x, default=0))

holiday_idx = train['IsHoliday'] != 0
train.loc[holiday_idx, 'IsHoliday'] = 1
train['IsHoliday'] = train['IsHoliday'].astype(np.uint8)

In [ ]:
del en_idx,ir_idx,ca_idx,us_idx,holiday_idx

In [ ]:
train

,building_id,meter,timestamp,meter_reading,site_id,primary_use,square_feet,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_speed,IsHoliday
0,0,0,2016-01-01 00:00:00,0.000,0,Education,7432,25.0,6.0,20.0,NaN,1019.7,0.0,1
1,1,0,2016-01-01 00:00:00,0.000,0,Education,2720,25.0,6.0,20.0,NaN,1019.7,0.0,1
2,2,0,2016-01-01 00:00:00,0.000,0,Education,5376,25.0,6.0,20.0,NaN,1019.7,0.0,1
3,3,0,2016-01-01 00:00:00,0.000,0,Education,23685,25.0,6.0,20.0,NaN,1019.7,0.0,1
4,4,0,2016-01-01 00:00:00,0.000,0,Education,116607,25.0,6.0,20.0,NaN,1019.7,0.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20216095,1444,0,2016-12-31 23:00:00,8.750,15,Entertainment/public assembly,19619,1.7,NaN,-5.6,-1.0,1008.5,8.8,0
20216096,1445,0,2016-12-31 23:00:00,4.825,15,Education,4298,1.7,NaN,-5.6,-1.0,1008.5,8.8,0
20216097,1446,0,2016-12-31 23:00:00,0.000,15,Entertainment/public assembly,11265,1.7,NaN,-5.6,-1.0,1008.5,8.8,0
20216098,1447,0,2016-12-31 23:00:00,159.575,15,Lodging/residential,29775,1.7,NaN,-5.6,-1.0,1008.5,8.8,0
20216099,1448,0,2016-12-31 23:00:00,2.850,15,Office,92271,1.7,NaN,-5.6,-1.0,1008.5,8.8,0

In [ ]:
# Saved the file in a new csv file
# Comment after running this code
# train.to_csv('./train_part1.csv', index=False)

# Reading the file in batches to speed up the execution
counter = 0
batch_size = 1000000
train_data = []
for chunk in pd.read_csv('./train_part1.csv', chunksize=batch_size):

    train_data.append(chunk)
    counter += 1

train_data

In [ ]:
# Used concat() to convert the array to df
train = pd.concat(train_data)
train

,building_id,meter,timestamp,meter_reading,site_id,primary_use,square_feet,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_speed,IsHoliday
0,0,0,2016-01-01 00:00:00,0.000,0,Education,7432,25.0,6.0,20.0,NaN,1019.7,0.0,1
1,1,0,2016-01-01 00:00:00,0.000,0,Education,2720,25.0,6.0,20.0,NaN,1019.7,0.0,1
2,2,0,2016-01-01 00:00:00,0.000,0,Education,5376,25.0,6.0,20.0,NaN,1019.7,0.0,1
3,3,0,2016-01-01 00:00:00,0.000,0,Education,23685,25.0,6.0,20.0,NaN,1019.7,0.0,1
4,4,0,2016-01-01 00:00:00,0.000,0,Education,116607,25.0,6.0,20.0,NaN,1019.7,0.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20216095,1444,0,2016-12-31 23:00:00,8.750,15,Entertainment/public assembly,19619,1.7,NaN,-5.6,-1.0,1008.5,8.8,0
20216096,1445,0,2016-12-31 23:00:00,4.825,15,Education,4298,1.7,NaN,-5.6,-1.0,1008.5,8.8,0
20216097,1446,0,2016-12-31 23:00:00,0.000,15,Entertainment/public assembly,11265,1.7,NaN,-5.6,-1.0,1008.5,8.8,0
20216098,1447,0,2016-12-31 23:00:00,159.575,15,Lodging/residential,29775,1.7,NaN,-5.6,-1.0,1008.5,8.8,0
20216099,1448,0,2016-12-31 23:00:00,2.850,15,Office,92271,1.7,NaN,-5.6,-1.0,1008.5,8.8,0

In [ ]:
# Converting timestamp into a datetime object, and extracting its components (hour,day,week,month,weekend)
train["hour"] = pd.to_datetime(train["timestamp"]).dt.hour
train["day"] = pd.to_datetime(train["timestamp"]).dt.day 
train["week"] = pd.to_datetime(train["timestamp"]).dt.week
train["month"] = pd.to_datetime(train["timestamp"]).dt.month
train["weekend"] = pd.to_datetime(train["timestamp"]).dt.weekday

In [ ]:
#Replace Null values
# Reset Index for Fast Update
train = train.set_index(['site_id','day','month'])   
    
cloud_coverage = train.groupby(['site_id','day','month'])['cloud_coverage'].mean()
cloud_coverage = pd.DataFrame(cloud_coverage.fillna(method='ffill'),columns=["cloud_coverage"]) # imputing with daily means per site id
train.update(cloud_coverage,overwrite=False)
  
precip_depth = train.groupby(['site_id','day','month'])['precip_depth_1_hr'].mean()
precip_depth = pd.DataFrame(precip_depth.fillna(method='ffill'),columns=['precip_depth_1_hr'])
train.update(precip_depth,overwrite=False)
    
sea_level = train.groupby(['site_id','day','month'])['sea_level_pressure'].mean()
sea_level = pd.DataFrame(sea_level.fillna(method='ffill'),columns=['sea_level_pressure'])
train.update(sea_level,overwrite=False)
    

wind_speed =  pd.DataFrame(train.groupby(['site_id','day','month'])['wind_speed'].mean(),columns=['wind_speed'])
train.update(wind_speed,overwrite=False)

air_temperature = pd.DataFrame(train.groupby(['site_id','day','month'])['air_temperature'].mean(),columns=["air_temperature"])
train.update(air_temperature,overwrite=False)

dew_temperature = pd.DataFrame(train.groupby(['site_id','day','month'])['dew_temperature'].mean(),columns=["dew_temperature"])
train.update(dew_temperature,overwrite=False)  

train = train.drop(['week', 'timestamp'],axis=1) # Dropping timestamp and week after making sure that the time components has been used properly.
train = train.reset_index()

100 * (train.isnull().sum() / len(train)) # Checking and calculating again the percentage of null values

<ipython-input-6-273c68ae4e07>:4: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated. Please use Series.dt.isocalendar().week instead.
  train["week"] = pd.to_datetime(train["timestamp"]).dt.week

site_id               0.0
day                   0.0
month                 0.0
building_id           0.0
meter                 0.0
meter_reading         0.0
primary_use           0.0
square_feet           0.0
air_temperature       0.0
cloud_coverage        0.0
dew_temperature       0.0
precip_depth_1_hr     0.0
sea_level_pressure    0.0
wind_speed            0.0
IsHoliday             0.0
hour                  0.0
weekend               0.0
dtype: float64

In [ ]:
train

,site_id,day,month,building_id,meter,meter_reading,primary_use,square_feet,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_speed,IsHoliday,hour,weekend
0,0,1,1,0,0,0.000,Education,7432,25.0,6.0,20.0,-0.173913,1019.7,0.0,1,0,4
1,0,1,1,1,0,0.000,Education,2720,25.0,6.0,20.0,-0.173913,1019.7,0.0,1,0,4
2,0,1,1,2,0,0.000,Education,5376,25.0,6.0,20.0,-0.173913,1019.7,0.0,1,0,4
3,0,1,1,3,0,0.000,Education,23685,25.0,6.0,20.0,-0.173913,1019.7,0.0,1,0,4
4,0,1,1,4,0,0.000,Education,116607,25.0,6.0,20.0,-0.173913,1019.7,0.0,1,0,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20216095,15,31,12,1444,0,8.750,Entertainment/public assembly,19619,1.7,2.0,-5.6,-1.000000,1008.5,8.8,0,23,5
20216096,15,31,12,1445,0,4.825,Education,4298,1.7,2.0,-5.6,-1.000000,1008.5,8.8,0,23,5
20216097,15,31,12,1446,0,0.000,Entertainment/public assembly,11265,1.7,2.0,-5.6,-1.000000,1008.5,8.8,0,23,5
20216098,15,31,12,1447,0,159.575,Lodging/residential,29775,1.7,2.0,-5.6,-1.000000,1008.5,8.8,0,23,5
20216099,15,31,12,1448,0,2.850,Office,92271,1.7,2.0,-5.6,-1.000000,1008.5,8.8,0,23,5

# Removing Outliers

In [ ]:
train = train[train["building_id"] != 1099] # Do not include building_id = 1099 in train data
print("number of unique bulilding id's :", train['building_id'].nunique()) # Checking the unique building_id numbers to make sure that they decreased by 1

number of unique bulilding id's : 1448

In [ ]:
train

,site_id,day,month,building_id,meter,meter_reading,primary_use,square_feet,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_speed,IsHoliday,hour,weekend
0,0,1,1,0,0,0.000,Education,7432,25.0,6.0,20.0,-0.173913,1019.7,0.0,1,0,4
1,0,1,1,1,0,0.000,Education,2720,25.0,6.0,20.0,-0.173913,1019.7,0.0,1,0,4
2,0,1,1,2,0,0.000,Education,5376,25.0,6.0,20.0,-0.173913,1019.7,0.0,1,0,4
3,0,1,1,3,0,0.000,Education,23685,25.0,6.0,20.0,-0.173913,1019.7,0.0,1,0,4
4,0,1,1,4,0,0.000,Education,116607,25.0,6.0,20.0,-0.173913,1019.7,0.0,1,0,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20216095,15,31,12,1444,0,8.750,Entertainment/public assembly,19619,1.7,2.0,-5.6,-1.000000,1008.5,8.8,0,23,5
20216096,15,31,12,1445,0,4.825,Education,4298,1.7,2.0,-5.6,-1.000000,1008.5,8.8,0,23,5
20216097,15,31,12,1446,0,0.000,Entertainment/public assembly,11265,1.7,2.0,-5.6,-1.000000,1008.5,8.8,0,23,5
20216098,15,31,12,1447,0,159.575,Lodging/residential,29775,1.7,2.0,-5.6,-1.000000,1008.5,8.8,0,23,5
20216099,15,31,12,1448,0,2.850,Office,92271,1.7,2.0,-5.6,-1.000000,1008.5,8.8,0,23,5

In [ ]:
#Checking all unique values of primary_use AND their numbers
train["primary_use"].value_counts()

Education                        8147938
Office                           4394864
Entertainment/public assembly    2264917
Lodging/residential              2146413
Public services                  1662826
Healthcare                        398527
Other                             242222
Parking                           213796
Manufacturing/industrial          125713
Food sales and service            114090
Retail                            112657
Warehouse/storage                 111861
Services                           96519
Technology/science                 77627
Utility                            56203
Religious worship                  32361
Name: primary_use, dtype: int64

# Further Preprocessing

In [ ]:
# Use this function to continue the pre-processing for train 
# Call the function 1 time. After finishing, save the result of the function in a variable (train_daily)
def Preprocessing(train):

  # Encoding categorical data using Hot Encoder
  primary_use_one_hot_encoded = pd.get_dummies(train['primary_use'], prefix='primary_use')
  train = pd.concat([train, primary_use_one_hot_encoded], axis=1)
  train.pop('primary_use')

  # Convert meter reading to log1p value for RMSE to avoid errors zeros or negative values (by adding 1 to each value before taking the log)
  train['meter_reading_log1p'] = np.log1p(train['meter_reading'])
  train = train.drop('meter_reading', axis=1) # Removed the original meter_reading to avoid redundancy

  # For simplicity, pop meter_reading_log1p column from train and saving it to a new variable, then add it as a last column
  meter_reading_log1p = train.pop('meter_reading_log1p')
  train = train.assign(meter_reading_log1p = meter_reading_log1p)

  # Change data type to reduce memory
  train['air_temperature'] = train['air_temperature'].astype('float32')
  train['square_feet'] = train['square_feet'].astype('float32')
  train['dew_temperature'] = train['dew_temperature'].astype('float32')
  train['sea_level_pressure'] = train['sea_level_pressure'].astype('float32')
  train['wind_speed'] = train['wind_speed'].astype('float32')
  train['precip_depth_1_hr'] = train['precip_depth_1_hr'].astype('float32')
  
  return train

In [ ]:
train_daily = Preprocessing(train)

In [ ]:
train_daily.columns

Index(['site_id', 'day', 'month', 'building_id', 'meter', 'square_feet',
       'air_temperature', 'cloud_coverage', 'dew_temperature',
       'precip_depth_1_hr', 'sea_level_pressure', 'wind_speed', 'IsHoliday',
       'hour', 'weekend', 'primary_use_Education',
       'primary_use_Entertainment/public assembly',
       'primary_use_Food sales and service', 'primary_use_Healthcare',
       'primary_use_Lodging/residential',
       'primary_use_Manufacturing/industrial', 'primary_use_Office',
       'primary_use_Other', 'primary_use_Parking',
       'primary_use_Public services', 'primary_use_Religious worship',
       'primary_use_Retail', 'primary_use_Services',
       'primary_use_Technology/science', 'primary_use_Utility',
       'primary_use_Warehouse/storage', 'meter_reading_log1p'],
      dtype='object')

# Splitting The Data Into train, test

In [ ]:
# Split the dataset into train_daily and test_daily sets based on the "month" column

# Get the maximum month value in the "month" column
max_month = train_daily['month'].max()

# Define the cutoff month for the test_daily
test_cutoff = max_month - 3 # The cutoff would be 9

test_daily1 = train_daily[train_daily['month'] >= test_cutoff] # Test 9, 10, 11, 12
train_daily1 = train_daily[train_daily['month'] < test_cutoff] # Train 1..8

In [ ]:
test_daily1

,site_id,day,month,building_id,meter,square_feet,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,...,primary_use_Other,primary_use_Parking,primary_use_Public services,primary_use_Religious worship,primary_use_Retail,primary_use_Services,primary_use_Technology/science,primary_use_Utility,primary_use_Warehouse/storage,meter_reading_log1p
13358457,0,1,9,0,0,7432.0,24.4,8.0,23.299999,-1.0,...,0,0,0,0,0,0,0,0,0,4.331021
13358458,0,1,9,1,0,2720.0,24.4,8.0,23.299999,-1.0,...,0,0,0,0,0,0,0,0,0,3.746486
13358459,0,1,9,2,0,5376.0,24.4,8.0,23.299999,-1.0,...,0,0,0,0,0,0,0,0,0,1.818324
13358460,0,1,9,3,0,23685.0,24.4,8.0,23.299999,-1.0,...,0,0,0,0,0,0,0,0,0,4.821378
13358461,0,1,9,4,0,116607.0,24.4,8.0,23.299999,-1.0,...,0,0,0,0,0,0,0,0,0,6.138452
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20216095,15,31,12,1444,0,19619.0,1.7,2.0,-5.600000,-1.0,...,0,0,0,0,0,0,0,0,0,2.277267
20216096,15,31,12,1445,0,4298.0,1.7,2.0,-5.600000,-1.0,...,0,0,0,0,0,0,0,0,0,1.762159
20216097,15,31,12,1446,0,11265.0,1.7,2.0,-5.600000,-1.0,...,0,0,0,0,0,0,0,0,0,0.000000
20216098,15,31,12,1447,0,29775.0,1.7,2.0,-5.600000,-1.0,...,0,0,0,0,0,0,0,0,0,5.078761
20216099,15,31,12,1448,0,92271.0,1.7,2.0,-5.600000,-1.0,...,0,0,0,0,0,0,0,0,0,1.348073

In [ ]:
train_daily1

,site_id,day,month,building_id,meter,square_feet,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,...,primary_use_Other,primary_use_Parking,primary_use_Public services,primary_use_Religious worship,primary_use_Retail,primary_use_Services,primary_use_Technology/science,primary_use_Utility,primary_use_Warehouse/storage,meter_reading_log1p
0,0,1,1,0,0,7432.0,25.000000,6.000000,20.000000,-0.173913,...,0,0,0,0,0,0,0,0,0,0.000000
1,0,1,1,1,0,2720.0,25.000000,6.000000,20.000000,-0.173913,...,0,0,0,0,0,0,0,0,0,0.000000
2,0,1,1,2,0,5376.0,25.000000,6.000000,20.000000,-0.173913,...,0,0,0,0,0,0,0,0,0,0.000000
3,0,1,1,3,0,23685.0,25.000000,6.000000,20.000000,-0.173913,...,0,0,0,0,0,0,0,0,0,0.000000
4,0,1,1,4,0,116607.0,25.000000,6.000000,20.000000,-0.173913,...,0,0,0,0,0,0,0,0,0,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13358452,15,31,8,1444,0,19619.0,22.799999,0.363636,17.799999,-0.198697,...,0,0,0,0,0,0,0,0,0,2.630089
13358453,15,31,8,1445,0,4298.0,22.799999,0.363636,17.799999,-0.198697,...,0,0,0,0,0,0,0,0,0,1.266948
13358454,15,31,8,1446,0,11265.0,22.799999,0.363636,17.799999,-0.198697,...,0,0,0,0,0,0,0,0,0,1.341558
13358455,15,31,8,1447,0,29775.0,22.799999,0.363636,17.799999,-0.198697,...,0,0,0,0,0,0,0,0,0,5.402339
13358456,15,31,8,1448,0,92271.0,22.799999,0.363636,17.799999,-0.198697,...,0,0,0,0,0,0,0,0,0,1.308333

# Splitting The Data Into x, y

In [ ]:
#Splitting independent => features, and dependent => label variables (DAILY)
from sklearn.model_selection import train_test_split
train_daily_x = train_daily1.iloc[:, 0:-1] #independent, features
train_daily_y = train_daily1.iloc[:, -1] #dependent, label
test_daily_x = test_daily1.iloc[:, 0:-1] #independent, features
test_daily_y = test_daily1.iloc[:, -1] #dependent, label

In [ ]:
test_daily_x

,site_id,day,month,building_id,meter,square_feet,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,...,primary_use_Office,primary_use_Other,primary_use_Parking,primary_use_Public services,primary_use_Religious worship,primary_use_Retail,primary_use_Services,primary_use_Technology/science,primary_use_Utility,primary_use_Warehouse/storage
13358457,0,1,9,0,0,7432.0,24.4,8.0,23.299999,-1.0,...,0,0,0,0,0,0,0,0,0,0
13358458,0,1,9,1,0,2720.0,24.4,8.0,23.299999,-1.0,...,0,0,0,0,0,0,0,0,0,0
13358459,0,1,9,2,0,5376.0,24.4,8.0,23.299999,-1.0,...,0,0,0,0,0,0,0,0,0,0
13358460,0,1,9,3,0,23685.0,24.4,8.0,23.299999,-1.0,...,0,0,0,0,0,0,0,0,0,0
13358461,0,1,9,4,0,116607.0,24.4,8.0,23.299999,-1.0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20216095,15,31,12,1444,0,19619.0,1.7,2.0,-5.600000,-1.0,...,0,0,0,0,0,0,0,0,0,0
20216096,15,31,12,1445,0,4298.0,1.7,2.0,-5.600000,-1.0,...,0,0,0,0,0,0,0,0,0,0
20216097,15,31,12,1446,0,11265.0,1.7,2.0,-5.600000,-1.0,...,0,0,0,0,0,0,0,0,0,0
20216098,15,31,12,1447,0,29775.0,1.7,2.0,-5.600000,-1.0,...,0,0,0,0,0,0,0,0,0,0
20216099,15,31,12,1448,0,92271.0,1.7,2.0,-5.600000,-1.0,...,1,0,0,0,0,0,0,0,0,0

In [ ]:
train_daily_y

0           0.000000
1           0.000000
2           0.000000
3           0.000000
4           0.000000
              ...
13358452    2.630089
13358453    1.266948
13358454    1.341558
13358455    5.402339
13358456    1.308333
Name: meter_reading_log1p, Length: 13346745, dtype: float64

# Converting To New CSV Files

In [ ]:
#Converting train and test preprocessed data into CSV
# Comment after running this code
# train_daily_x.to_csv('./train_daily_x.csv', index=False)
# train_daily_y.to_csv('./train_daily_y.csv', index=False)
# test_daily_x.to_csv('./test_daily_x.csv', index=False)
# test_daily_y.to_csv('./test_daily_y.csv', index=False)

train_daily_x = pd.read_csv('./train_daily_x.csv', keep_default_na=False, index_col=None)
train_daily_y = pd.read_csv('./train_daily_y.csv', keep_default_na=False, index_col=None)
test_daily_x = pd.read_csv('./test_daily_x.csv', keep_default_na=False, index_col=None)
test_daily_y = pd.read_csv('./test_daily_y.csv', keep_default_na=False, index_col=None)

In [ ]:
train_daily_x

,site_id,day,month,building_id,meter,square_feet,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,...,primary_use_Office,primary_use_Other,primary_use_Parking,primary_use_Public services,primary_use_Religious worship,primary_use_Retail,primary_use_Services,primary_use_Technology/science,primary_use_Utility,primary_use_Warehouse/storage
0,0,1,1,0,0,7432.0,25.0,6.000000,20.0,-0.173913,...,0,0,0,0,0,0,0,0,0,0
1,0,1,1,1,0,2720.0,25.0,6.000000,20.0,-0.173913,...,0,0,0,0,0,0,0,0,0,0
2,0,1,1,2,0,5376.0,25.0,6.000000,20.0,-0.173913,...,0,0,0,0,0,0,0,0,0,0
3,0,1,1,3,0,23685.0,25.0,6.000000,20.0,-0.173913,...,0,0,0,0,0,0,0,0,0,0
4,0,1,1,4,0,116607.0,25.0,6.000000,20.0,-0.173913,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13346740,15,31,8,1444,0,19619.0,22.8,0.363636,17.8,-0.198697,...,0,0,0,0,0,0,0,0,0,0
13346741,15,31,8,1445,0,4298.0,22.8,0.363636,17.8,-0.198697,...,0,0,0,0,0,0,0,0,0,0
13346742,15,31,8,1446,0,11265.0,22.8,0.363636,17.8,-0.198697,...,0,0,0,0,0,0,0,0,0,0
13346743,15,31,8,1447,0,29775.0,22.8,0.363636,17.8,-0.198697,...,0,0,0,0,0,0,0,0,0,0
13346744,15,31,8,1448,0,92271.0,22.8,0.363636,17.8,-0.198697,...,1,0,0,0,0,0,0,0,0,0

In [ ]:
train_daily_y.mean()

meter_reading_log1p    4.082807
dtype: float64

# Further Preprocessing: Normalization

In [ ]:
#--------Scaling features using normalization--------
from sklearn.preprocessing import StandardScaler
scale = StandardScaler()

scaled_names = ['square_feet', 'air_temperature', 'cloud_coverage', 'dew_temperature', 'sea_level_pressure', 'wind_speed', 'precip_depth_1_hr']

train_x_scale = scale.fit_transform(train_daily_x.loc[:, scaled_names])
test_x_scale = scale.transform(test_daily_x.loc[:, scaled_names])

train_x_scale = pd.DataFrame(train_x_scale, columns=scaled_names)
test_x_scale = pd.DataFrame(test_x_scale, columns=scaled_names)

# Create a new DataFrame with all columns from train_daily_x
train_x_scaled = train_daily_x.copy()
test_x_scaled = test_daily_x.copy()

# Replace the specified columns with the scaled values
train_x_scaled[scaled_names] = train_x_scale
test_x_scaled[scaled_names] = test_x_scale

In [ ]:
# Print the new scaled dataset
train_x_scaled

,site_id,day,month,building_id,meter,square_feet,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,...,primary_use_Office,primary_use_Other,primary_use_Parking,primary_use_Public services,primary_use_Religious worship,primary_use_Retail,primary_use_Services,primary_use_Technology/science,primary_use_Utility,primary_use_Warehouse/storage
0,0,1,1,0,0,-0.855349,0.729145,1.395256,1.143738,-0.180916,...,0,0,0,0,0,0,0,0,0,0
1,0,1,1,1,0,-0.895519,0.729145,1.395256,1.143738,-0.180916,...,0,0,0,0,0,0,0,0,0,0
2,0,1,1,2,0,-0.872876,0.729145,1.395256,1.143738,-0.180916,...,0,0,0,0,0,0,0,0,0,0
3,0,1,1,3,0,-0.716791,0.729145,1.395256,1.143738,-0.180916,...,0,0,0,0,0,0,0,0,0,0
4,0,1,1,4,0,0.075371,0.729145,1.395256,1.143738,-0.180916,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13346740,15,31,8,1444,0,-0.751454,0.534507,-0.796664,0.935660,-0.184137,...,0,0,0,0,0,0,0,0,0,0
13346741,15,31,8,1445,0,-0.882066,0.534507,-0.796664,0.935660,-0.184137,...,0,0,0,0,0,0,0,0,0,0
13346742,15,31,8,1446,0,-0.822672,0.534507,-0.796664,0.935660,-0.184137,...,0,0,0,0,0,0,0,0,0,0
13346743,15,31,8,1447,0,-0.664874,0.534507,-0.796664,0.935660,-0.184137,...,0,0,0,0,0,0,0,0,0,0
13346744,15,31,8,1448,0,-0.132094,0.534507,-0.796664,0.935660,-0.184137,...,1,0,0,0,0,0,0,0,0,0

In [ ]:
test_x_scaled

,site_id,day,month,building_id,meter,square_feet,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,...,primary_use_Office,primary_use_Other,primary_use_Parking,primary_use_Public services,primary_use_Religious worship,primary_use_Retail,primary_use_Services,primary_use_Technology/science,primary_use_Utility,primary_use_Warehouse/storage
0,0,1,9,0,0,-0.855349,0.676061,2.173034,1.455856,-0.288267,...,0,0,0,0,0,0,0,0,0,0
1,0,1,9,1,0,-0.895519,0.676061,2.173034,1.455856,-0.288267,...,0,0,0,0,0,0,0,0,0,0
2,0,1,9,2,0,-0.872876,0.676061,2.173034,1.455856,-0.288267,...,0,0,0,0,0,0,0,0,0,0
3,0,1,9,3,0,-0.716791,0.676061,2.173034,1.455856,-0.288267,...,0,0,0,0,0,0,0,0,0,0
4,0,1,9,4,0,0.075371,0.676061,2.173034,1.455856,-0.288267,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6851784,15,31,12,1444,0,-0.751454,-1.332247,-0.160300,-1.277535,-0.288267,...,0,0,0,0,0,0,0,0,0,0
6851785,15,31,12,1445,0,-0.882066,-1.332247,-0.160300,-1.277535,-0.288267,...,0,0,0,0,0,0,0,0,0,0
6851786,15,31,12,1446,0,-0.822672,-1.332247,-0.160300,-1.277535,-0.288267,...,0,0,0,0,0,0,0,0,0,0
6851787,15,31,12,1447,0,-0.664874,-1.332247,-0.160300,-1.277535,-0.288267,...,0,0,0,0,0,0,0,0,0,0
6851788,15,31,12,1448,0,-0.132094,-1.332247,-0.160300,-1.277535,-0.288267,...,1,0,0,0,0,0,0,0,0,0